
# 없는 부분은 채워서 써주세요 (보안 관련 정보는 노션에 정리되어 있습니다!)

# --- Database ---
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# --- Redis ---
AUTH_REDIS_HOST=rushdeal_auth_redis
AUTH_REDIS_PORT=6378
REDIS_PASSWORD=rushcrew

USER_REDIS_HOST=rushdeal_user_redis
USER_REDIS_PORT=6379

QUEUE_REDIS_HOST=rushdeal_queue_redis
QUEUE_REDIS_PORT=6380


ORDER_REDIS_HOST=rushdeal_order_redis
ORDER_REDIS_PORT=6381

TIMEDEAL_REDIS_HOST=rushdeal_timedeal_redis
TIMEDEAL_REDIS_PORT=6382


# Kafka Configuration
KAFKA_BROKERS=kafka:29092

# Eureka Configuration (로컬 개발용)
EUREKA_ENABLED=false
EUREKA_URL=http://discovery-service:8761/eureka/

# --- JWT & Auth ---
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRED=
JWT_REFRESH_EXPIRED=


# PortOne (Payment Gateway)
PORTONE_API_SECRET=
PORTONE_STORE_ID=
PORTONE_CHANNEL_KEY=
PORTONE_WEBHOOK=

# Spring Profiles
SPRING_PROFILES_ACTIVE=local


# JPA Configuration
JPA_DDL_AUTO=none
SHOW_SQL=false
SQL_INIT_MODE=never

# Quartz (Order Service)
QUARTZ_INIT_SCHEMA=never
QUARTZ_THREAD_COUNT=10


# Auth Service
AUTH_MAX_CONCURRENT_SESSIONS=3

# Server Ports
AUTH_SERVER_PORT=8000
USER_SERVER_PORT=8060
ORDER_SERVER_PORT=8050
PAYMENT_SERVER_PORT=8010
PRODUCT_SERVER_PORT=8020
QUEUE_SERVER_PORT=8040
TIMEDEAL_SERVER_PORT=8030

# Spring Profiles
SPRING_PROFILES_ACTIVE=local

